:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030C ;
    --fonte-principal: "Inter", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("../imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--fonte-principal);
    align-items: center;
    text-align: center;
    grid-template-columns: 50% 50%; 
}

.container{
    height: 100vh;
    display: grid;
   
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 50%;
    margin: 0 6em;
}

.secundario{
    display: flex;
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.descricao__paragrafo{
    font-size: 16px;
    color: var(--cinza-secundario);
   
}

.terciario{
    display: flex;
    align-items: center;
    margin: 0 10em;
    margin-bottom: 10em;
    

}

.botao__terciario{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
    width: 26%;
    text-align: center;
    margin-top: 1em;
}

.imagem__terciaria{
    width: 80%;
    margin: 0 6em;
}

.paragrafo__terciario{
    font-size: 16px;
    color: var(--cinza-secundario);
}

.telas__telas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 10em;  
    font-size: 32px; 
    font-weight: 700;
    margin: 5em 0;
    
}

.titulo__telas{
    margin: 0 5em;
    text-align: center;
    margin-bottom: 1em;
    font-size: 50px;
}